<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../staticFiles/scaredy-cat.css">
    <script src="../staticFiles/scaredy-cat.js" defer></script>
    
</head>
<body>
    <div class="header">
        <div class="left-section">
            <img class="hamburger-menu" src="../staticFiles/icons/hamburger-menu.svg" alt="">
            <img class="youtube-logo" src="../staticFiles/icons/youtube.jpg">
            <div class="dark-logo-div">
                <img class="hamburger-menu-dark" src="../staticFiles/dark-icons/ham-menu.jpg" alt="">
            </div>
            
            <img class="youtube-logo-dark" src="../staticFiles/dark-icons/youtube.jpg" alt="">
            
        </div>
        <div class="mid-section">
            <input class="search-bar" type="text" name="" id="" placeholder="Search">
            <button class = "searchBtn"><img class = "search-icon"src="Search" alt=""></button>
            <button class = "voice-search-button"><img class = "voice-search-icon" src="../staticFiles/icons/voice-search-icon.svg" alt=""></button>
        </div>
        <div class="right-section"></div>
    </div>
    <div class="vid-grid">
        <div class="vid-container">
            <div>
                <img class="thumbnail" src="../staticFiles/channel/the-vamps.webp" alt="the-vamps">
            </div>
            <div class="bottom">
                <div class="channel-pic-div">
                    <img class="channel-pic" src="../staticFiles/channel/channel-pic-dpr.jpg" alt="">
                </div>
                <div class="vid-details">
                    <p class="vid-title">The Vamps, Martin Jensen - Middle Of The Night (Official Video)</p>
                    <a href="" class="channel-name" style="text-decoration: none;">TheVampsVEVO &#9834;</a>
                    <p class="vid-stats">14M views &#183; 5 years ago</p>
                </div>
            </div>
        </div>
    
        <div class="vid-container">
            <div>
                <img class="thumbnail" src="../staticFiles/channel/shinunoga.jpeg" alt="scaredy-cat-dpr-ian">
            </div>
            <div class="bottom">
                <div class="channel-pic-div">
                    <img class="channel-pic" src="../staticFiles/channel/fk.jpg" alt="">
                </div>
                <div class="vid-details">
                    <p class="vid-title">Fujii Kaze - Shinunoga E-Wa</p>
                    <p class="channel-name">Fujii Kaze &#9834;</p>
                    <p class="vid-stats">23M views &#183; 3 months ago</p>
                </div>
            </div>
        </div>
    
        <div class="vid-container">
            <div>
                <img class="thumbnail" src="../staticFiles/channel/scaredy-cat.jpg" alt="scaredy-cat-dpr-ian">
            </div>
            <div class="bottom">
                <div class="channel-pic-div">
                    <img class="channel-pic" src="../staticFiles/channel/channel-pic-dpr.jpg" alt="">
                </div>
                <div class="vid-details">
                    <p class="vid-title">DPR IAN - Scaredy Cat (OFFICIAL M/V)</p>
                    <p class="channel-name">Dream Perfect Regime &#9834;</p>
                    <p class="vid-stats">7.9M views &#183; 1 year ago</p>
                </div>
            </div>
        </div>
    
        <div class="vid-container">
            <div>
                <img class="thumbnail" src="../staticFiles/channel/NIGHTS.png" alt="scaredy-cat-dpr-ian" style="height: 138.23px; width: 245.74; object-fit: contain;">
            </div>
            <div class="bottom">
                <div class="channel-pic-div">
                    <img class="channel-pic" src="../staticFiles/channel/NIGHTS_pp.jpg" alt="">
                </div>
                <div class="vid-details">
                    <p class="vid-title">Basic</p>
                    <p class="channel-name">
                        N i G H T S - Topic &#9834;</p>
                    <p class="vid-stats">23M views &#183; 3 months ago</p>
                </div>
            </div>
        </div>
    
        <div class="vid-container">
            <div>
                <img class="thumbnail" src="../staticFiles/channel/sobeautiful.jpg" alt="scaredy-cat-dpr-ian">
            </div>
            <div class="bottom">
                <div class="channel-pic-div">
                    <img class="channel-pic" src="../staticFiles/channel/channel-pic-dpr.jpg" alt="">
                </div>
                <div class="vid-details">
                    <p class="vid-title">DPR IAN - So Beautiful (OFFICIAL M/V)</p>
                    <p class="channel-name">Dream Perfect Regime &#9834;</p>
                    <p class="vid-stats">13M views &#183; 2 years ago</p>
                </div>
            </div>
        </div>
    
        <div class="vid-container">
            <div>
                <img class="thumbnail" src="../staticFiles/channel/shinunoga.jpeg" alt="scaredy-cat-dpr-ian">
            </div>
            <div class="bottom">
                <div class="channel-pic-div">
                    <img class="channel-pic" src="../staticFiles/channel/fk.jpg" alt="">
                </div>
                <div class="vid-details">
                    <p class="vid-title">Fujii Kaze - Shinunoga E-Wa</p>
                    <p class="channel-name">Fujii Kaze &#9834;</p>
                    <p class="vid-stats">23M views &#183; 3 months ago</p>
                </div>
            </div>
        </div>
    </div>
    <button class="toggle">Light-Mode<span style="display: none;"> howdu</span></button>
</body>
</html>